/*NavBar*/
.navbar{
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse{
  align-items: center;
  justify-content: space-between;
}

    /*General styles*/
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1{
    font-size: 2.5rem;
}
.darkSec{
  color: white;
  background-color: #1b1b32;
}
.lightSec{
  color: black;
  background-color: white;
}

.titleSec{
  font-size: 2rem;
  padding: 15px 0;
  font-family: 'Anton', sans-serif;
}
.descriptSec{
  font-size: 1.2rem;
  color: #584e4e; 
} 

.textSection{
  font-size: 1.1rem;
  padding: 10px;
}
button.btn.btn-info{
  font-size: 1.1rem;
  margin: 20px 20px 80px 20px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: rgb(76, 76, 145);
}
button.btn.btn-info:hover{
  background-color: rgb(51, 51, 97);
  
}

.blackText{
  color: black;
}
.whiteText{
  color: white;
}

    /*Hero Section*/
.hero{
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/piano.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-principal{
  padding: 3rem
}
.heroProfileImg{
  max-width: 250px;
  max-height: 250px;
  margin: 20px;
  border: 2px solid #dddfdf;
}
.hero-principal h2 {
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  color: #d2d2f1;
}
.hero-principal h1{
  font-family: 'Anton', sans-serif;;
  color: #d2d2f1;
}

img.hero-inferior-imagen.img-fluid{
  padding: 25px;
}


      /*About Me*/
.aboutMe{
    height: 500px;
    padding: 25px;
}
.aboutMe {
  /* Use "linear-gradient" to add a darken background effect to the image. This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("images/9d47df15-7b75-471b-86fb-a60475c5b4293.png");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.aboutMe .container {
  max-width: 800px;
  text-align: center;
}

    /*Experience*/
.experience{
  padding: 40px 40px 60px 40px;
}
.experience .column{
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}
.experience .column:hover{
  color: white;
  background-color: #1b1b32;
}

.experience i {
  font-size: 2.5rem;
  color: #637ef3;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}
.titleExperience{
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badgesContainer{
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
.badge{
  margin: 5px;
}

    /*Project*/
.recentProject{
  padding: 40px;
}
.recentProject img{
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius:  10px;
  display: block;
  transition: all 0.2s ease;   
}
.projectContainer{
  padding-top: 60px;
  margin-bottom: 40px;
}
.overlay{       /*responsividad imagen*/
  transition: all 0.2 ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay p{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}
.project{
  position: relative;
}
.project:hover img{
  opacity: 0.2;
}
.project:hover .overlay{
  opacity: 1;

}
.overlay .iconContainer{
  display: flex;
}
.overlay i {
  color: rgb(76, 76, 145);
  font-size: 60px;
  margin: 10px;
}
    /*Papers*/
.papers{
  min-height: 500px;
  padding: 30px;
}
.papers .card{
  width: 80%;
  max-width: 600px;
  margin: 20px;
}
.papers .card-header{
  font-weight: bold;
}

    /*Testimonials*/
.testimonials{
  padding: 40px 40px 80px 40px;
}
/*
.testimonials .carousel{
  max-width: 800px;
}
.carousel-item{
  height: 500px;
}*/

.carousel-item .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.testimonialsImg {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}
.testimonialsText{
  max-width: 70%;
  font-size: 20px;
  text-align: center;
}
.testimonialsInfo{
  font-weight: bold;
  text-align: center;
}
.testimonialsInfo p{
  margin-bottom: 0;
}
.testimonialsInfo .client{
  font-size:  1.2rem;
}
.testimonialsInfo .cargo{
  font-size: 0.9rem;
  color: #637ef3
}
    /*Contact*/
.contact .container{
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
}
.contact .rectangle{ 
  margin-top: -5rem;
  max-width: 800px;
  background-color: rgb(5, 54, 129);
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
.contact .row{
  width: 100%;
  display: flex;
  align-items: center;
}
.contact .description{
  color: wheat;
  font-size:  1.2rem;
}
.contact button{
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}
.contact button:hover{
  background-color: white;
  color: black; 
}
.contact button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}
.contact button:hover i{
  color: black;
}
    /*footer*/
footer{
  min-height: 400px;
}
.footerIcon{
  height: 80px;
  width: 50px;
  margin: 5px;
  color: white;
}
.footerText{
  font-size: 1.2rem;
  padding: 20px;
  margin-bottom: 15px;
}
.mailBox{
  height: 50px;
  width: 250px;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
  border-radius: 5%;
}
.mailBox:hover{
  background-color:  white;
  border: 2px solid rgb(5, 54, 129);
}
.mailBox a:hover{
  color: black;
}
.mailBox a:hover i{
  color: black;
}
.iconSocialMedia a{
  width: 50px;
  height: 50px;
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}
.iconSocialMedia a:hover{
  background-color:  white;
  border: 2px solid rgb(5, 54, 129);
}
.iconSocialMedia i{
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}
.iconSocialMedia a:hover i{
  color: black;
}
div.copyright{
  font-size: 15px;
  color: #aeaeae;
  padding: 25px;
}

    /*Responsive*/
@media screen and (max-width: 767px){ /*query permite ocultar logo segun breakpoint*/
  .navbar-brand{
    display: none; 
  }
}
@media screen and (min-width: 700px){
  img.hero-inferior-imagen.img-fluid {
    max-width: 600px;
  }
}

@media screen and (max-width: 425px){ /*projects*/
  .textSection{
    font-size: 9px;
    margin: 9px;
  }
}
@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }
  .overlay i {
    font-size: 40px;
  }
}
@media screen and (max-width: 800px) {
  .testimonialsImg {
    height: 120px;
    width: 120px;
  }

  .testimonialsText {
    font-size: 18px;
  }
}

